$modal-prefix-cls: '#{$css-prefix}modal';

.#{$modal-prefix-cls} {
  &-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $modal-mask-bg-color;
  }

  &-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    min-width: 440px;
    background-color: $modal-content-bg-color;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 47px;
    box-sizing: border-box;
    padding: 0 15px 0 30px;
    background-color: $modal-header-bg-color;

    &-inner {
      @include text(
        $modal-title-font-weight,
        $modal-title-font-size,
        1,
        $medium-font-family
      );
      @include text-overflow();
      color: $default-font-color;
      max-width: 320px;
    }
  }

  &-close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &-icon {
      width: 26px;
      height: 26px;
    }
  }

  &-body {
    @include text(
      $modal-body-font-weight,
      $modal-body-font-size,
      1.5,
      $regular-font-family
    );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    .sui-btn:nth-of-type(2) {
      margin-left: 40px;
    }
    .sui-btn:nth-of-type(3) {
      margin-left: 60px;
    }
  }
}
