$modal-prefix-cls: '#{$css-prefix}modal';

.#{$modal-prefix-cls} {
  width: auto;
  margin: 0 auto;
  position: fixed;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  min-width: get-vw(600px);

  &-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 999;
  }

  &-content {
    position: relative;
    background-color: #fff;
    border: 0;
  }

  &-close {
    position: absolute;
    top: 8px;
    right: 15px;
    opacity: 0.6;
    cursor: pointer;
  }

  &-header {
    width: auto;
    padding: 14px 16px;
    background-color: #edf2f8;

    &-inner {
      line-height: 17px;
      font-size: 14px;
      color: #4a4a4a;
      letter-spacing: 1px;
      font-family: $medium-font-family;
    }
  }

  &-body {
    width: auto;
    font-family: $regular-font-family;
    margin: 30px 90px;
    padding: 16px;
    font-size: 12px;
    line-height: 1.5;
  }

  &-footer {
    width: auto;
    padding: 20px 30px 30px;
    display: flex;
    justify-content: center;
    button {
      margin: 0 20px;
    }
    &-boot {
      flex: auto;
      text-align: center;
      min-width: 245px;
    }
  }
}
