{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["import", {
      "libraryName": "iview",
      "libraryDirectory": "src/components"
    }],
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 2,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
