
$css-prefix                 :  'sui-';

// Color
$primary-color              : #4883FB;
$info-color                 : #2db7f5;
$success-color              : #2AD1B0;
$warning-color              : #F49857;
$error-color                : #F94545;
$normal-color               : #e6ebf1;
$cancel-color               : #C9C9C9;
$disabled-color             : #D9D9D9;

$white                      : #fff;
$black                      : #000;
$gray                       : #999;

$link-color                 : rgb(70, 147, 230);
$link-hover-color           : rgb(43, 133, 228);
$link-active-color          : rgb(0, 123, 255);

$default-font-color         : #4a4a4a;
$light-font-color           : #7d7d7d;

// Font
$regular-font-family        : '.PingFangSC-Regular';
$medium-font-family         : '.PingFangSC-Medium';

$lighter-font-weight        : lighter;
$normal-font-weight         : normal;
$bold-font-weight           : bold;
$bolder-font-weight         : bolder;

$smaller-size               : 12px;
$small-size                 : 14px;
$normal-size                : 16px;
$large-size                 : 18px;
$larger-size                : 20px;

// Base
$font-family                : "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-family                : Consolas,Menlo,Courier,monospace;
$cursor-disabled            : not-allowed;
$line-height-base           : 1;

// Animation
$animation-time             : .3s;
$animation-time-quick       : .15s;
$transition-time            : .2s;

// Icon
$icon-small-width           : 16px;
$icon-small-height          : 16px;
$icon-normal-width          : 32px;
$icon-normal-height         : 32px;
$icon-large-width           : 64px;
$icon-large-height          : 64px;

// Button
$btn-font-weight            : $normal-font-weight;
$btn-border-radius          : 2px;
$btn-small-min-width        : 40px;
$btn-small-height           : 22px;
$btn-small-font-size        : $smaller-size;
$btn-normal-min-width       : 80px;
$btn-normal-height          : 32px;
$btn-normal-font-size       : $smaller-size;
$btn-large-min-width        : 120px;
$btn-large-height           : 42px;
$btn-large-font-size        : $small-size;
$btn-check-border-color     : #C9D4E9;
$btn-small-icon-size        : 12px;
$btn-normal-icon-size       : 16px;
$btn-large-icon-size        : 20px;


// Notice
$notice-min-width          : 134px;
$notice-border-radius      : 4px;
$notice-default-padding    : 12px 20px;
$notice-icon-padding-right : 15px;
$notice-close-width        : 16px;
$notice-close-height       : 16px;
$notice-close-position     : 3px;
$notice-content-padding-top: 5px;

// Tab
$tab-default-height     : 29px;
$tab-border-radius      : 2px;
$tab-item-min-width     : 77px;
$tab-item-padding       : 8px 20px;
$tab-border-color: #C9D4E9;

//Table
$table-row-height          : 50px;
$table-font-weight         : $normal-font-weight;
$table-font-size           : $smaller-size;
$table-border-color        : #E0E6EF;
$table-row-hover-bg-color  : #f3f9ff;